*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.container{
    width: 80%;
    height: 100%;
    margin: auto;
}

.card{
    width: calc((100% / 3) - 13px);
    /* height: 100%; */
    background-color: white;
    position: relative;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 20px;
    display: inline-block;
    float: left;
}

img{
    width: 100%;
    height: 90%;
    position: relative;
    cursor: pointer;
}





/* .back-img{
    display: none;
} */


/* .card:hover .back-img{
    display: inline-block;
    transition: 0.4s;
   
}


.card:hover .front-img{
    display: none;
    transition: 0.4s;
    
} */


.hearth{
    width: 40px;
    height: 40px;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0;
    text-align: center;
    padding-top: 0.3rem;
    font-size: 22px;
    transition: 0.2s;
    float: left;
}

.card:hover .hearth{
    color: red;
    transform: scale(2.0);
}

.etiquette{
    color: white;
    font-size: 10px;
    position: absolute;
    bottom: 90px;
    text-align: center;
    padding-top: 0.2rem;
    font-weight: bold;
}


.discount{
    height: 20px;
    width: 45px;
    background-color: red;
    left: 0;
    
}

.sustainable{
    height: 20px;
    width: 75px;
    background-color: green;
    left: 50px;
}

#sus-alone{
    left: 0;
}

.article-info{
    margin-bottom: 15px;
    
}


.article-info > #brand {
    font-size: 10px;
    color: green;
    font-weight: bold;
}

.article-info > #type{
    font-size: 12px;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

.article-info > span{
    font-size: 10px;
    font-weight: bold;
    display: inline-block;
}

.article-info > #discounted-price{
    color: red;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
}

.article-info > #full-price{
    color: gray;
    text-decoration: line-through;
    margin-left: 0.2rem;
    display: inline-block
}

#full-price:after{
    content:"\20AC";
    font-size: 10px;
    color: gray
}

#discounted-price:after{
    content:"\20AC";
    font-size: 10px;
    color: red;
}


.article-bg{
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s ease;
}


.art-1{
    height: 500px;
    background-image: url("./img/1.webp");
}


.art-1:hover{
    background-image: url("./img/1b.webp");
    
}

.art-2{
    background-image: url("./img/2.webp");
}

.art-2:hover{
    background-image: url("./img/2b.webp");
    
}


.art-3{
    background-image: url("./img/3.webp");
}

.art-3:hover:hover{
    background-image: url("./img/3b.webp");
    
}
.art-4{
    background-image: url("./img/4.webp");
}

.art-4:hover:hover{
    background-image: url("./img/4b.webp");
    
}
.art-5{
    background-image: url("./img/5.webp");
}
.art-5:hover:hover{
    background-image: url("./img/5b.webp");
    
}
.art-6{
    background-image: url("./img/6.webp");
}
.art-6:hover{
    background-image: url("./img/6b.webp");
    
}





